div{
    height: 150px;
    width: 150px;
    background-color: pink;
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 200px;

    /* transform: rotate(40deg); */

    /* rotate: z 90deg; */

    /* transform: scale(2, 1); */

    /* transform: scaleX(2); */

    transition: all ease-in 2s

    
}

div:hover{

    font-size: 40px;
    /* transform: rotate(360deg); */
    /* transform: rotate(360deg) scale(2, 2); */
    /* transform: scaleX(0.5); */
    /* transform: scaleY(0.5); */

    /* transform: translate(200px); */
    /* transform: translate(200px, 50px); */
    /* transform: translateX(200px); */
    /* transform: translateY(150px); */

    /* transform: skew(30deg); */


}