div{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

button{
    border-width: 11px;
    border-style: dotted;
    border-color: pink;


h1{
    border: 11px solid red;
    border-radius: 30px;
    padding:1px 2px 3px 4px;
    
}

p{
    margin-top: 50px;
    margin-bottom: 50px;
}
}